<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
  <mat-form-field>
    <mat-label>Nome da Turma</mat-label>
    <input name="nome" [(ngModel)]="turma.nome" matInput required
      placeholder="Informe o nome da turma">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data inicial</mat-label>
    <input matInput [matDatepicker]="data_inicial" [(ngModel)]="turma.data_inicial"
    name="data_inicial" required>
    <mat-datepicker-toggle matSuffix [for]="data_inicial"></mat-datepicker-toggle>
    <mat-datepicker #data_inicial></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data final</mat-label>
    <input matInput [matDatepicker]="data_final" [(ngModel)]="turma.data_final"
    name="data_final" required>
    <mat-datepicker-toggle matSuffix [for]="data_final"></mat-datepicker-toggle>
    <mat-datepicker #data_final></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dias da semana</mat-label>
    <mat-select name="dias_semana" [(ngModel)]="turma.dias_semana" required multiple>
      <mat-option *ngFor="let dia of diasSemana" [value]="dia.val">
        {{ dia.descr }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Horário inicial</mat-label>
    <input name="horario_inicial" [(ngModel)]="turma.horario_inicial" matInput required
      placeholder="Informe o horário inicial" mask="00:00" [dropSpecialCharacters]="false">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Horário final</mat-label>
    <input name="horario_final" [(ngModel)]="turma.horario_final" matInput required
      placeholder="Informe o horário final" mask="00:00" [dropSpecialCharacters]="false">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Curso</mat-label>
    <mat-select name="curso" [(ngModel)]="turma.curso" required>
       <!-- No mat-option, usamso a listagem da entidade relacionada
        para gerar as opções que serão exibidas ao usuario-->
      <mat-option *ngFor="let curso of cursos" [value]="curso._id">
        {{ curso.nome }} ({{curso.nivel}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Professor</mat-label>
    <mat-select name="professor" [(ngModel)]="turma.professor" required>
       <!-- No mat-option, usamso a listagem da entidade relacionada
        para gerar as opções que serão exibidas ao usuario-->
      <mat-option *ngFor="let professor of professores" [value]="professor._id">
        {{ professor.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sala</mat-label>
    <mat-select name="sala_aula" [(ngModel)]="turma.sala_aula" required>
       <!-- No mat-option, usamso a listagem da entidade relacionada
        para gerar as opções que serão exibidas ao usuario-->
      <mat-option *ngFor="let sala of salasAula" [value]="sala._id">
        {{ sala.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>

